@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 640px) {
  ::-webkit-scrollbar {
    width: 5px;
    border-radius: 50%;
  }

  ::-webkit-scrollbar-track {
    background: #d7d5d5;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(136, 151, 160);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(104, 99, 164);
  }
}
